#waveform {
    position: relative;
}

#lyrics_container {
    overflow: auto;
    height: 500px;
}

#lyrics_container > div.row {
    display: grid;
    grid-template-columns: 100px auto;
    height: 45px;
    line-height: 45px;
}

#lyrics_container > div.row > div {
    display: inline-block;
    border: grey solid 1px;
    padding-left: 10px;
}

#lyrics_container > div.row.selected {
    background-color: black;
    color: white;
    font-weight: bolder;
}

#lyrics_container > div.row.disabled {
    background-color: darkgray;
    color: dimgrey;
    pointer-events: none;
}

#lyrics_container > div.row:hover {
    background-color: grey;
    color: white;
    font-weight: bold;
}

overview {
    border-color: red !important;
}

.wavesurfer-region {
    overflow: hidden;
}

.wavesurfer-region.highlight {
    border: 2px solid red;
}

.region-label {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
    color: white;
    white-space: nowrap;
    text-overflow: clip;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading::after {
    content: 'Loading ...';
}

.wavesurfer-handle-start,
.wavesurfer-handle-end {
    width: 4px !important;
}